<ion-view>
    <ion-nav-bar class="white-bg">
        <ion-nav-buttons side="right">
            <a href="#/" class="button button-icon icon ion-ios-close-empty"></a>
        </ion-nav-buttons>
    </ion-nav-bar>


    <ion-content class="center">
        <div>

            <div class="list list-inset ">

                <div class="item item-input login">
                    <input ng-model="username" type="text" placeholder="EMAIL"/>
                </div>

                <div class="item item-input login">
                    <input ng-model="password" type="password" placeholder="PASSWORD"/>
                </div>
            </div>

            <div class="text-center">
                <!--<button ng-click="login(username, password)" class="button button-clear smallerFont">Log In</button>-->
                <a class="button button-clear smallerFont" ng-click="registerQD(username,password)">Sign Up</a>
                <div>
                    deb: {{debugMsg1}}
                    
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>