# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore
bbbb.sh
node_modules/
platforms/
plugins/
.bowerrc
.idea/
config.xml
gulpfile.js
hooks/
ionic/project
ionic.project
.DS_Store