
'), e.put("views/auth/welcome-back.html", '<ion-view class="auth-view" cache-view="false">
    <ion-nav-bar class="view-navigation">
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content class="padding">
        <div class="row form-heading">
            <div class="col">
                <h1 class="form-title">Welcome back</h1>
                <h3 class="form-sub-title">Login to your account to start</h3>
                <div class="social-sign-up button-bar">
                    <a class="button icon ion-social-facebook button-positive"></a>
                    <a class="button icon ion-social-twitter button-calm"></a>
                </div>
            </div>
        </div>
        <div class="row form-separator">
            <hr class="separator-line"/>
            <span class="separator-mark">OR</span>
            <hr class="separator-line"/>
        </div>
        <div class="row form-wrapper">
            <div class="col">
                <form name="login_form" class="" novalidate>
                    <div class="form-fields-outer list list-inset">
                        <label class="item item-input">
                            <input type="text" placeholder="Username" name="username" ng-model="user.userName" required>
                        </label>
                        <label class="item item-input" show-hide-container>
                            <input type="password" placeholder="Password" name="password" ng-model="user.password" required show-hide-input>
                        </label>
                        <button type="submit" class="login button button-block" ng-click="doLogIn()" ng-disabled="login_form.$invalid">
                            Login
                        </button>
                        <p ng-show="error" class="message error">{{error}}</p>
                    </div>
                </form>
                <div class="alternative-actions">
                    <a class="forgot-password button button-clear button-block" ng-click="showForgotPassword()">
                        Forgot your password?
                    </a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>

'), e.put("views/common/multi-bg.html", '<div class="multi-bg-outer" ng-class="{ \'finish-loading\': loaded }">
    <img bg class="multi-bg {{ helperClass }}" ng-src="{{ bg_img }}"/>
    <span class="bg-overlay"></span>
    <ion-spinner ng-show="!loaded" class="spinner-on-load"></ion-spinner>
    <!-- <span ng-show="!loaded" class="spinner-on-load ion-load-c"></span> -->
    <ng-transclude></ng-transclude>
</div>
'), e.put("views/common/pre-img.html", '<div class="pre-img {{ratio}} {{ helperClass }}" ng-class="{ \'finish-loading\': loaded }">
    <ion-spinner ng-show="!loaded" class="spinner-on-load"></ion-spinner>
    <!-- <span ng-show="!loaded" class="spinner-on-load ion-load-c"></span> -->
    <ng-transclude></ng-transclude>
</div>
'), e.put("views/common/show-hide-password.html", '<div class="show-hide-input" ng-transclude>
</div>
<a class="toggle-view-anchor" on-touch="toggleType($event)">
    <span class="ion-eye-disabled" ng-show="show"></span>
    <span class="ion-eye" ng-show="!show"></span>
</a>
'),

e.put("views/app/legal/legal-notice.html", '<p class="legal-notice">
    By Signing up you agree to the <a ng-click="showTerms()">Terms of Service</a> and <a ng-click="showPrivacyPolicy()">Privacy Policy</a>
</p>


'), e.put("views/app/legal/privacy-policy.html", '<ion-modal-view class="modal-view">
    <ion-header-bar>
        <h1 class="title modal-title">Privacy Policy</h1>
        <a class="button button-clear" ng-click="privacy_policy_modal.hide()"><span class="icon ion-close"></span></a>
    </ion-header-bar>
    <ion-content class="padding">
        <div class="row">
            <div class="col">
                <div class="privacy-policy">
                    <p>Last modified: April 14, 2014</p>
                    <h4 class="title">Welcome to your_app_name!</h4>
                    <p>Thanks for using our products and services (“Services”). Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry\'s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    <h4 class="title">Using our Services</h4>
                    <p>You must follow any policies made available to you within the Services.</p>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using \'Content here, content here\', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for \'lorem ipsum\' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
                    <h4 class="title">About these Terms</h4>
                    <p>We may modify these terms or any additional terms that apply to a Service to, for example, reflect changes to the law or changes to our Services. You should look at the terms regularly. We’ll post notice of modifications to these terms on this page. We’ll post notice of modified additional terms in the applicable Service. Changes will not apply retroactively and will become effective no sooner than fourteen days after they are posted. However, changes addressing new functions for a Service or changes made for legal reasons will be effective immediately. If you do not agree to the modified terms for a Service, you should discontinue your use of that Service.</p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-modal-view>


'),

e.put("views/app/legal/terms-of-service.html", '<ion-modal-view class="modal-view">
    <ion-header-bar>
        <h1 class="title modal-title">Terms of Service</h1>
        <a class="button button-clear" ng-click="terms_of_service_modal.hide()"><span class="icon ion-close"></span></a>
    </ion-header-bar>
    <ion-content class="padding">
        <div class="row">
            <div class="col">
                <div class="terms-of-service">
                    <p>Last modified: April 14, 2014</p>
                    <h4 class="title">Welcome to your_app_name!</h4>
                    <p>Thanks for using our products and services (“Services”). Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry\'s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    <h4 class="title">Using our Services</h4>
                    <p>You must follow any policies made available to you within the Services.</p>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using \'Content here, content here\', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for \'lorem ipsum\' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
                    <h4 class="title">About these Terms</h4>
                    <p>We may modify these terms or any additional terms that apply to a Service to, for example, reflect changes to the law or changes to our Services. You should look at the terms regularly. We’ll post notice of modifications to these terms on this page. We’ll post notice of modified additional terms in the applicable Service. Changes will not apply retroactively and will become effective no sooner than fourteen days after they are posted. However, changes addressing new functions for a Service or changes made for legal reasons will be effective immediately. If you do not agree to the modified terms for a Service, you should discontinue your use of that Service.</p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-modal-view>
'),

e.put("views/app/partials/post-card.html", '<div class="post-card">
    <div class="list card">
        <div class="item item-image">
            <pre-img ratio="_3_2" helper-class="main-image">
                <img ng-src="{{post.picture}}" spinner-on-load>
            </pre-img>
        </div>

        <i ng-if="post.liked" class="post-like-action clicked icon ion-ios-heart"></i>
        <i ng-if="!post.liked" class="post-like-action icon ion-ios-heart-outline"></i>

        <div class="item item-body">
            <h2 class="card-title">{{post.text}}</h2>
            <p class="card-description">
                <a class="card-user-name" ui-sref="app.profile.posts({userId:post.userId})">{{post.user.name}}
                </a>
            </p>
            <span class="card-moment-posted" am-time-ago="post.date"></span>
            <div class="card-avatar-image-outer">
                <a ui-sref="app.profile.posts({userId:post.userId})">
                    <pre-img ratio="_1_1" helper-class="avatar-image rounded-image">
                        <img ng-src="{{post.user.picture}}" spinner-on-load>
                    </pre-img>
                </a>
            </div>

            <i class="post-share icon ion-share"></i>
        </div>
    </div>
'),



e.put("views/app/shop/cart.html", '<ion-view view-title="Shopping cart" class="cart-view" cache-view="false">
    <ion-content>
        <div ng-if="products.length == 0">
            <div class="empty-cart">
                <i class="icon ion-ios-cart-outline"></i>
                <h3 class="no-products">Your shopping cart is empty</h3>
            </div>
        </div>
        <div ng-if="products.length > 0">
            <div class="products-list">
                <div class="product-list-item" ng-repeat="product in products">
                    <div class="row product-title-wrapper">
                        <span class="product-title">{{product.title}}</span>
                    </div>
                    <div class="row product-content-wrapper">
                        <div class="col">
                            <div class="product-picture">
                                <pre-img ratio="_1_1" helper-class="main-image">
                                    <img ng-src="{{product.picture}}" spinner-on-load>
                                </pre-img>
                            </div>
                            <div class="product-options-wrapper">
                                <div class="row product-options">
                                    <div class="col col-75 select-option">
                                        <select >
                                            <option value="1">Shiny Black Gold</option>
                                            <option value="2">Black Ice Revo</option>
                                            <option value="3">Black Silver</option>
                                        </select>
                                    </div>
                                    <div class="col col-25 select-option">
                                        <select >
                                            <option ng-repeat="i in [1,2,3,4,5,6,7,8,9,10]" value="{{i}}">{{i}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row remove-product-wrapper">
                                    <div class="col col-center col-75">
                                        <!-- <span class="remove-product-button" ng-click="removeProductFromCart({{product}})">Remove</span> -->
                                        <!-- <span class="remove-product-button" ng-click="removeProductFromCart(product)">Remove</span> -->
                                        <button class="button button-clear button-small button-assertive remove-product-button" ng-click="removeProductFromCart(product)">
                                            Remove
                                        </button>
                                    </div>
                                    <div class="col col-center col-25">
                                        <span class="product-price">${{product.price}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item item-divider shop-section-title">
                <span class="title-copy">Sub total</span>
                <span class="checkout-total-price section-action">${{ getSubtotal() }} USD</span>
            </div>
            <div class="row padding">
                <button class="button button-block button-energized checkout-btn" ui-sref="app.shipping-address">
                    Continue to Checkout
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>
'),


e.put("views/app/shop/checkout.html", '<ion-view view-title="Checkout" class="checkout-view">
    <ion-content>
        <div class="list">
            <div class="item item-divider shop-section-title">
                <span class="title-copy">Payment Method</span>
            </div>
            <a class="item item-icon-left add-new-card" href="#">
                <i class="icon ion-card"></i>
                Add new card
            </a>
            <div class="item item-divider shop-section-title">
                <span class="title-copy">Totals</span>
            </div>
            <div class="item row padding totals">
                <div class="col col-50">
                    <div class="row">Subtotal</div>
                    <div class="row">Tax</div>
                    <div class="row">Shipping</div>
                </div>
                <div class="col col-50 totals-numbers">
                    <div class="row">$135,00 USD</div>
                    <div class="row">$0,00 USD</div>
                    <div class="row">$34,95 USD</div>
                </div>
            </div>
            <div class="item item-divider shop-section-title">
                <span class="title-copy">Order Total</span>
                <span class="order-total-value section-action">$180,95 USD</span>
            </div>
            <div class="row padding">
                <button ng-class="{disabled: !paymentDetails}" class="button button-block button-energized submit-order-btn">
                    Place Order
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>
'),


e.put("views/app/shop/product-detail.html", '<ion-view view-title="" class="product-view">
    <ion-nav-buttons side="secondary">
        <button class="button button-icon button-clear ion-share"></button>
    </ion-nav-buttons>
    <ion-content overflow-scroll="true">
        <div class="product-card-content">
            <div class="item item-image">
                <pre-img ratio="_1_1" helper-class="main-image">
                    <img ng-src="{{product.picture}}" spinner-on-load>
                </pre-img>
            </div>
            <div class="item item-body">
                <h2 class="product-title">{{product.title}}</h2>
                <div>
                    <p class="product-like"><i class="icon ion-heart"></i>Like</p>
                    <p class="likes"></i>837</p>
                </div>
                <p class="product-price" ng-click="showAddToCartPopup(product)">${{product.price}}</p>
            </div>
            <div class="item item-body">
                <p class="product-description">{{product.description}}</p>
            </div>
        </div>
        <div class="item item-divider shop-section-title">
            <span class="title-copy">Related Products</span>
        </div>
        <div class="row shop-products-narrow-cards-outer shop-product-cards-scroller">
            <div ng-repeat="related_product in product.related_products" class="col col-50 shop-product-narrow-card" ui-sref="app.product-detail({productId: related_product._id})">
                <div class="list card">
                    <div class="item item-image">
                        <pre-img ratio="_1_1" helper-class="main-image">
                            <img ng-src="{{related_product.picture}}" spinner-on-load>
                        </pre-img>
                    </div>
                    <div class="item item-body">
                        <h2 class="card-title">{{related_product.title}}</h2>
                        <p class="card-description"><b>${{related_product.price}}</b> - {{related_product.description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
'),


e.put("views/app/shop/shipping-address.html", '<ion-view view-title="Shipping Address" class="shipping-address-view">
    <ion-content>
        <div class="list">
            <div class="item item-divider shop-section-title">
                <span class="title-copy">New Address</span>
            </div>
            <label class="item item-input item-floating-label">
                <span class="input-label">Full name</span>
                <input type="text" placeholder="Full name">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Address Line 1</span>
                <input type="text" placeholder="Address Line 1">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Address Line 2</span>
                <input type="text" placeholder="Address Line 2">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">City</span>
                <input type="text" placeholder="City">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">State</span>
                <input type="text" placeholder="State">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Postal Code</span>
                <input type="text" placeholder="Postal Code">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Phone Number</span>
                <input type="text" placeholder="Phone Number">
            </label>
            <ion-toggle toggle-class="toggle-energized">Use as my default address</ion-toggle>
            <div class="row padding">
                <button class="button button-block button-energized save-address-btn" ui-sref="app.checkout">
                    Save Address
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>
'),

e.put("views/app/shop/partials/add-to-cart-popup.html", '<span class="popup-product-title">{{data.product.title}}</span>
<span class="popup-product-price">${{data.product.price}}</span>
<div class="separator-line"></div>
<div class="row product-options">
    <div class="col col-75 select-option-wrapper">
        <select ng-model="data.productOption">
            <option value="1">Shiny Black Gold</option>
            <option value="2">Black Ice Revo</option>
            <option value="3">Black Silver</option>
        </select>
    </div>
    <div class="col col-25 select-option-wrapper">
        <select ng-model="data.productQuantity">
            <option ng-repeat="i in [1,2,3,4,5,6,7,8,9,10]" value="{{i}}">{{i}}</option>
        </select>
    </div>
</div>
')
}]);