<div class="row auth-content-outer">
    <div class="col col-center">
        <div class="row related-copy">
            <div class="col">
                <h5 class="auth-copy">Please enter your email address and we\'ll send you an email to reset your password.</h5>
            </div>
        </div>
        <div class="row form-wrapper">
            <div class="col">
                <form name="forgot_password_form" class="" novalidate>
                    <div class="form-fields-outer list list-inset">
                        <label class="item item-input">
                            <input type="email" placeholder="Email" name="email" ng-model="user.email" required>
                        </label>
                    </div>
                    <button type="submit" class="reset-password button button-block" ng-click="requestNewPassword()" ng-disabled="forgot_password_form.$invalid">
                        Reset Password
                    </button>
                    <p ng-show="error" class="message error">{{error}}</p>
                </form>
            </div>
        </div>
    </div>
</div>