<ion-view cache-view="false" title="Map">
    <!--<ion-nav-buttons side="left">-->
        <!--<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>-->
    <!--</ion-nav-buttons>-->

    <!--<ion-nav-buttons side="right">-->
        <!--<button ng-click="locate();" class="button button-icon icon ion-pinpoint"></button>-->
    <!--</ion-nav-buttons>-->


    <ion-content data-tap-disabled="true">
        <div style="height: 40px; width: 400px">

            <div class="chat-item animated fadeInDown" ng-if="incomingMessageFound">
                <Strong>Yan:</Strong> {{incomingMessage}}
            </div>
        </div>

        <div style="height: 700px; width: 400px" class="custom-popup">
            <leaflet defaults="map.defaults" center="map.center" markers="map.markers" ng-if="map">
        </div>


        <!--<leaflet defaults="map.defaults" center="map.center" markers="map.markers" ng-if="map">-->
        <!--<leaflet defaults="map.defaults" center="map.center" markers="map.markers"></leaflet>-->
    </ion-content>

</ion-view>
