<ion-view cache-view="false" view-title="Local" class="global-local-view">

    <ion-content data-tap-disabled="true">

        <!--<div style="height: 240px; width: 400px">-->

        <!--map defaults: {{map.defaults}}-->
        <!--map center: {{map.center}}-->
        <!--&lt;!&ndash;<div class="chat-item animated fadeInDown" ng-if="incomingMessageFound">&ndash;&gt;-->
        <!--&lt;!&ndash;<Strong>Yan:</Strong> {{incomingMessage}}&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--</div>-->

        <div class="custom-popup">
            <leaflet width="100%" height="900px" defaults="map.defaults" center="map.center" markers="map.markers"
                     ng-if="map">
                <!--<leaflet width="100%" height="480px"></leaflet>-->
        </div>


        <!--<div ng-show="showBottomDiv" class="animated fadeInDown">-->
            <!--<button class="button ion-chatbox"> click me </button>-->
            <!--<button class="button ion-chatbox"> click me </button>-->
            <!--<button class="button ion-chatbox"> click me </button>-->
        <!--</div>-->
        <!--<leaflet defaults="map.defaults" center="map.center" markers="map.markers" ng-if="map">-->
        <!--<leaflet defaults="map.defaults" center="map.center" markers="map.markers"></leaflet>-->
    </ion-content>

    <ion-footer-bar  class="animated fadeInUp bar-balanced" ng-show="showBottomDiv">
        <div >
            <button class="button ion-chatbox"> click me </button>
            <button class="button ion-chatbox"> click me </button>
            <button class="button ion-chatbox"> click me </button>
        </div>
    </ion-footer-bar>

    <ion-footer-bar  class="myFootbar animated fadeInUp bar-balanced" ng-show="showBottomDiv">
        <div >
            <button class="button ion-chatbox"> click me </button>
            <button class="button ion-chatbox"> click me </button>
            <button class="button ion-chatbox"> click me </button>
        </div>
    </ion-footer-bar>


</ion-view>