<ion-view cache-view="false" view-title="Local" class="global-local-view">

    <ion-content data-tap-disabled="true">

        <!--<div style="height: 240px; width: 400px">-->

        <!--map defaults: {{map.defaults}}-->
        <!--map center: {{map.center}}-->
        <!--&lt;!&ndash;<div class="chat-item animated fadeInDown" ng-if="incomingMessageFound">&ndash;&gt;-->
        <!--&lt;!&ndash;<Strong>Yan:</Strong> {{incomingMessage}}&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--</div>-->

        <div class="custom-popup">
            <leaflet width="100%" height="900px" defaults="map.defaults" center="map.center" markers="map.markers"
                     ng-if="map">
                <!--<leaflet width="100%" height="480px"></leaflet>-->
        </div>


        <!--<div ng-show="showChatFootBar" class="animated fadeInDown">-->
            <!--<button class="button ion-chatbox"> click me </button>-->
            <!--<button class="button ion-chatbox"> click me </button>-->
            <!--<button class="button ion-chatbox"> click me </button>-->
        <!--</div>-->
        <!--<leaflet defaults="map.defaults" center="map.center" markers="map.markers" ng-if="map">-->
        <!--<leaflet defaults="map.defaults" center="map.center" markers="map.markers"></leaflet>-->
    </ion-content>

    <!--<ion-footer-bar  class="animated fadeInUp bar-balanced" ng-show="showChatFootBar">-->
        <!--<div >-->
            <!--<button class="button ion-chatbox"> click me </button>-->
            <!--<button class="button ion-chatbox"> click me </button>-->
            <!--<button class="button ion-chatbox"> click me </button>-->
        <!--</div>-->
    <!--</ion-footer-bar>-->

    <ion-footer-bar class="chatFootBar" ng-show="showChatFootBar">
        <!--<div>-->
            <!--<ul class="input-list style-4 clearfix">-->
                <!--<li>-->
                    <!--<input type="text" placeholder="Send a message to ...">-->
                <!--</li>-->
                <!--&lt;!&ndash;<li>&ndash;&gt;-->
                    <!--&lt;!&ndash;<input type="text" placeholder=":focus" class="focus">&ndash;&gt;-->
                <!--&lt;!&ndash;</li>&ndash;&gt;-->
            <!--</ul>-->

            <!--&lt;!&ndash;<a class="icon ion-chatbox"> </a>&ndash;&gt;-->
            <!--&lt;!&ndash;<a class="icon ion-camera"> </a>&ndash;&gt;-->

            <!--&lt;!&ndash;<button class="button ion-heart"> click me </button>&ndash;&gt;-->
        <!--</div>-->

        <!--<form class="form-wrapper cf">-->
        <div class="form-wrapper cf">
            <input type="text" placeholder="Send a message..." required>
            <button type="submit">Send</button>
        </div>
        <!--</form>-->
    </ion-footer-bar>


</ion-view>