<ion-view view-title="Map" class="map-view">
  <ion-tabs class="tabs-icon-top tabs-striped tabs-background-dark tabs-color-energized global-tabs">
    <ion-tab title="Local" icon-on="ion-ios-location" icon-off="ion-ios-location-outline" ui-sref="app.map.local">
      <ion-nav-view name="map-local"></ion-nav-view>
    </ion-tab>
    <ion-tab title="World" icon-on="ion-ios-world" icon-off="ion-ios-world-outline" ui-sref="app.map.world">
      <ion-nav-view name="map-world"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Favorites" icon-on="ion-ios-heart" icon-off="ion-ios-heart-outline" ui-sref="app.map.favorites">
      <ion-nav-view name="map-favorite"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>


<!--ng-class="{'tabs-item-hide' : hideTabs}"-->
