<ion-view>
    <ion-content class="center">
        <div class="text-center">
            <div class="icon ion-ionic largerIcon">
            </div>
            <p class="light"> Quick Decision</p>

        </div>

        <!--<div class="text-center">-->
        <!--<button ng-click="login(username, password)" class="button button-clear smallerFont">Sign In</button>-->
        <!--&lt;!&ndash;<button ng-click="register(username, password)" class="button button-block button-dark">Register&ndash;&gt;-->
        <!--&lt;!&ndash;</button>&ndash;&gt;-->
        <!--&lt;!&ndash;<p>&ndash;&gt;-->
        <!--&lt;!&ndash;Sign into this application&ndash;&gt;-->
        <!--&lt;!&ndash;{{xxx}}&ndash;&gt;-->
        <!--&lt;!&ndash;</p>&ndash;&gt;-->
        <!--</div>-->


    </ion-content>

    <div class="fixed-outside">
        <div class="row">
            <div class="col-50">
                <a href="#/sign-up" class="button button-clear smallerFont">SIGN UP</a>-->
            </div>

            <div class="col-50">
                <a href="#/login" class="button button-clear smallerFont">LOG IN</a>-->
            </div>
        </div>

    </div>

</ion-view>